/************ Custom Font ************/
@font-face {
	font-family: SpaceGrotesk;
	src: url('./assets/font/SpaceGrotesk-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: SpaceMono;
	src: url('./assets/font/SpaceMono-BoldItalic.ttf');
	font-weight: 700;
}
@font-face {
	font-family: SpaceGrotesk;
	src: url('./assets/font/SpaceGrotesk-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: SpaceMono;
	src: url('./assets/font/SpaceMono-Italic.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'SpaceGrotesk', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {

  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Banner Css ************/

.banner {
  margin-top: 0;
  width:100%;
  height: 100vh;
  padding: 60px 0 100px 0;
  background-image: url('./assets/img/bg\ img.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.banner h2 {
  font-size: 95%;
  font-weight: 700;
  font-family: 'SpaceGrotesk';
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 5%;
  margin-left: 5%;
  color: white;
  text-align: left;
}
.north-star-component {
  width: 100%;
  height: 100%;
  /* justify-content: center;
  align-items: center; */
  position: relative;
}
.north-star-component.north-star-img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-left: 10%;
  margin-top: 10%; */
}

.north-star-component.navbar-link.home{
  position: fixed;
  top: 30px;
  left: 100px;
}
.navbar-link img{
  width: 60%;
}
/* .north-star-component .navbar-link {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
} */

/* .north-star-component .navbar-link.home {
  position: absolute;
  top: -280%; 
  left: 16%; 
} */

/* .north-star-component .navbar-link.projects {
  position: absolute;
  top: -253%; 
  left: 43%; 
}

.north-star-component .navbar-link.skills {
  position: absolute;
  top: 550%; 
  left: 85%; 
}

.north-star-component .navbar-link.contact {
  position: absolute;
  top: 1700%; 
  left: 80%; 
}

.north-star-component .navbar-link.resume {
  position: absolute;
  top: 1650%; 
  left: 60%; 
} */

/* .banner .north-star-component section{
  display: none;
}

.banner .north-star-component:hover section{
  display: block;
} */


.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
