@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(to right bottom, #341e39, #2b1d33, #241b2c, #1d1925, #18161d, #18171e, #191720, #191821, #1e1c2d, #241f38, #2b2244, #33254f);

}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.stars{
    position: relative;
    display: flex;
}

.stars .star {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin: 0 0.75rem;
    background-color: #cdcbc45e;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    box-shadow: 0 0 0 0.5rem #cdcbc444, 
    0 0 6rem #cdcbc4, 
    0 0 9rem #cdcbc4  ;
    animation: animate 2s linear infinite ;
    animation-duration: calc(125s / var(--i));
}
.stars .star:nth-child(even){
    box-shadow: 0 0 0 0.1rem #e3cb7344, 
    0 0 6rem #e3cb73, 
    0 0 9rem #e3cb73  ;

}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0,5);
    }
    100%{
        transform: translateY(-100vh) scale(1);
    }
    
}

.animate-bounce {
    animation: updown 2s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-1rem);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(-1rem);
    }
}

.spin:hover {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }