@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: linear-gradient(to top, #140608, #13060c, #12070f, #100811, #0d0913, #0b0912, #090912, #080911, #08080f, #08070d, #07060b, #060508);
    
}
.animate-bounce {
    animation: updown 2s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}