@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(135deg, #000000 0%, #333333 100%);

}

.container2{
    position: relative;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0005); */
}
.container2 .loader{
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    animation: animate 2s linear infinite;

}
.container2 .loader:nth-child(4),
.container2 .loader:nth-child(2){
    animation-delay: -1s;
    filter:hue-rotate(290deg);

}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}


.container2 .loader:nth-child(1)::before,
.container2 .loader:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(60, 16, 83, 1));
    background-size: 10rem 18rem;
    background-repeat: no-repeat;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
}

.container2 .loader i{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 2rem;
    background: #3c1053;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0 0 0.25rem #3c1053,
    0 0 0.5rem #3c1053,
    0 0 0.75rem #3c1053,
    0 0 1rem #3c1053,
    0 0 1.25rem #3c1053,
    0 0 1.5rem #3c1053,
    0 0 1.75rem #3c1053,
    0 0 2rem #3c1053,
    0 0 2.25rem #3c1053,
    0 0 2.5rem #3c1053,
}

.container2 .loader span{
    position: absolute;
    inset: 2rem;
    background: #000000;
    color: white;
    border-radius: 50%;
    z-index: 50;
}


.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.stars{
    position: relative;
    display: flex;
}

.stars .star {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin: 0 0.75rem;
    background-color: #cdcbc45e;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    box-shadow: 0 0 0 0.5rem #cdcbc444, 
    0 0 6rem #cdcbc4, 
    0 0 9rem #cdcbc4  ;
    animation: animate 2s linear infinite ;
    animation-duration: calc(125s / var(--i));
}
.stars .star:nth-child(even){
    box-shadow: 0 0 0 0.1rem #e3cb7344, 
    0 0 6rem #e3cb73, 
    0 0 9rem #e3cb73  ;

}

/* @keyframes animate {
    0% {
        transform: translateY(100vh) scale(0,5);
    }
    100%{
        transform: translateY(-100vh) scale(1);
    }
    
} */

.animate-bounce {
    animation: updown 2s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-1rem);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(-1rem);
    }
}

.spin:hover {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }